body {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url('/image/bg_img_2.jpg');
    background-size: 100% 160%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

button:hover {
    border-radius: 0 !important;
}

.d-flex {
    height: 100vh;
}