/* Styling for site-wide elements */
:root {
    --color-primary: #B2D385;
    --color-secondary: #93B1A7;
    --color-accent: #C5EDAC;

    --color-background: #EEEEEE;
    --color-container: #DBCFB0;
}

html,
body {
    margin: 0;
    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
}

button, .btn {
    background-color: var(--color-primary);
    border-radius: 20px;
}

button:hover, .btn:hover {
    background-color: var(--color-accent);
    border-radius: 20px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    text-decoration: none;
}

i {
    color: var(--color-primary);
    background-color: rgba(0, 0, 0, 0);
}

i:hover {
    color: var(--color-accent);
    background-color: rgba(0, 0, 0, 0);
}

.hover-white:hover {
    color: var(--color-white) !important;
}

.hover-primary:hover {
    color: var(--color-primary) !important;
}

.hover-accent:hover {
    color: var(--color-accent) !important;
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.form-control:focus {
    border-color: var(--color-accent);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(197, 237, 172, 0.8);
}

.btn:focus {
    box-shadow: 0 0 8px rgba(197, 237, 172, 0.8);
}

.accordion-button:focus {
    box-shadow: 0 0 8px rgba(197, 237, 172, 0.8);
}

.accordion-button:not(.collapsed) {
    color: var(--color-accent);
    background-color: var(--color-primary);
}