/* Styling for site-wide elements */
:root {
  --color-primary: #B2D385;
  --color-secondary: #93B1A7;
  --color-accent: #C5EDAC;

  --color-background: #EEEEEE;
  --color-container: #DBCFB0;
}

html,
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-accent);
  text-decoration: none;
}