/* Styling for site-wide elements */
:root {
    --color-primary: #B2D385;
    --color-secondary: #93B1A7;
    --color-accent: #C5EDAC;

    --color-background: #EEEEEE;
    --color-container: #DBCFB0;
}

html,
body {
    margin: 0;
    background-color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
}

button, .btn {
    background-color: var(--color-primary);
    border-radius: 20px;
}

button:hover, .btn:hover {
    background-color: var(--color-accent);
    border-radius: 20px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-accent);
    text-decoration: none;
}

.unselectable {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}