* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-secondary);
    color: white;
}

.head {
    background-image: url(/image/leave4.jpeg);
    height: 30vh;
    width: 100%;
    margin-top: -75.83px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    margin-bottom: 48px;
}

.row1, .row1A {
    margin-bottom: 2px;
    height: 950px;
    justify-content: center;
}

.row1A {
    margin-bottom: 0px;
    height: auto;
}

.row1-col1, .part1 {
    margin: 0;
    background-color: #a6b6b1;
    /* background-color: var(--color-secondary); */
    position: relative;
    height: 460px;
}

.circle, .circle2, #profile-image  {
    display: inline-block;
    height: 300px;
    width: 300px;
    text-align: center;
    background-size: 100% 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
#profile-image:hover {
    filter: brightness(150%);
}
.part1 > i {
    margin-left: 17rem;
    color: rgb(104, 78, 78);
}
.part1 > i:hover {
    color: rgb(131, 115, 115);
}
.row1-col2, .row1-page1-part2 {
    margin-top: 0px;;
    color: rgb(37, 37, 37);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 860px;
}

.row1-page1-part2 {
    height: auto;
}

#pro-email, #pro-web {
    padding-left: 26px;
    padding-right: 0px;
}

#pro-email, #pro-web, #pro-bio, #pro-name {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 1px;
    word-wrap: break-word;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 1em;
    height: auto;
    line-height: 1.6;
}
#pro-bio {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 1em;
    overflow: auto;
}
#pro-email:empty, #pro-web:empty, #pro-bio:empty, #pro-name:empty {
    border: none; 
    border-bottom: 1px solid;
    height: 30px;
}

.col-25 {
    padding-left: 0px;
}

.pro-info {
    padding-top: 20px;
    font-size: 28px;
    width: 90%;
    position: relative;
}
#pro-name {
    padding-right:30px;
}

input[type=button], input[type=submit], input[type=submitPost],input[submitBlog] {
    background-color: var(--color-primary);
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    width: 150px;
    position: absolute;
    right: 0px;
    text-align: center;
}
input[type=submitPost] {
    margin-top: 1.5rem !important;
    background-color: #DBCFB0;
}
input[type=button]:hover, 
input[type=submit]:hover, 
input[submitBlog]:hover {
    background-color: var(--color-accent);
}

input[submitBlog] {
    bottom: 0px;
    right: 10px;
}

input[type=submitPost] {
   margin-top: 5px;
   margin-right: 30px;
   width: 180px;
   cursor: pointer;
}

input[type="email"], input[type="text"], .form-control {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.nav_menu {
    width: 100%;
    padding-top: 0px;
}

.nav_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 22px;
    background: var(--color-primary);
    color: #000;
    padding-left: 0px;
    margin-bottom: 0px;
}

.nav_menu ul li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_menu ul li.active,
.nav_menu ul li:hover, input[type=submit]:hover {
    /* background-color: rgb(253, 253, 253); */
    background-color: var(--color-accent);
    color:black;
}

.cardA {
    margin-top:0px;
    margin-bottom: 30px;
    /* background-color:yellow; */
    color: black;
}
.blogs {
    margin-left: 2em;
    margin-right: 2em;
}
.blog-box {
    border-radius: 2%;
    border: 10px #000;
}

.blog {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 30px;
    border: solid 1px;
    font-size: 22px;
}

.blog-text {
    grid-column: 1 / span 1;
    border-style: solid;
}
.blog-text-inside {
    border-style: solid;
}
.blog-img {
    padding-top: 20px;
    height: 400px;
    width: 100%;
    object-fit: cover;
}


.btn-blg-left,.blog-btn-right {
    padding: 10px; 
    margin-bottom: 16px; 
    float: left; 
    margin-left: 15px; 
     font-size: 20px;
     border-radius: 20px;
     border: none;
}

.blog-title {
    text-align: center;
    font-size: 24px;

}

.blog-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
    min-height: 160px;
    font-size: 19px;
}
.reminder-tag, .tree-tag, .group-tag {
    color: black;
}
.eidt-card {
    display: flex;
    flex-direction: column;
}
.date {
    padding-left: 15px;
    padding-right: 15px;
}

hr {
 clear: both;
 margin-bottom:12px;
}


.section-title {
    text-align: center;
    color: black;
    font-size: 26px;
    padding-top: 10px;
    border-bottom: solid 2px #4d7e65;
}

.imageAdds {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
}

.image-size{
    /* height: 500px; */
    width: 100%;
    /* padding-top: 100%; */
    margin-bottom: 2em;
    color:black;
    background-color: aqua;
}
.image-select {
    padding-top: 0px;
    
}
#selectImage {
    height: 30px;
    width: 60px;
}


.card-image-gallery {
    width:100%;
    height:100%;
}
.button-add-text {
    float: left;
}
.image-select {
    margin-left: 0px;
}

/* The Modal (background)  ------------   */
.modal {
    width: 100%;
    height: 100%; 
    display: none; 
    position: fixed; 
    z-index: 2;
    padding: 6em;
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}

/* Modal Content */
.modal-content {
    background-color: white;
    height: 600px;
    border: 1px solid rgb(150, 149, 149);
    width: 100%;
}

.modal-box {
    margin: auto;
    width: 98%;
    height: 90%;
    margin-bottom: 30px;
    border: solid 2px black;
    background-color: var(--color-secondary);
    display: grid;
    grid-template-rows: 16% 84%;
}

.modal-title {
    text-align: center;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 30px;
    font-weight: bold;
    grid-row: 1 /span 1;
    grid-column: 1 /span 1;
}

.ph-title {
    text-align: center;
}

.modal-text {
    text-align: left;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
}

textarea {
    resize: none;
    height: 300px;
    overflow: auto;
}

/* The Close Button */
.close {
    padding-top: 10px;
    text-align: right;
    padding-right: 30px;
    color: #000;
    background-color: var(--color-secondary);
    /* background-color: rgb(150, 206, 175); */
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pro-edit {   
    border-bottom: 2px yellow solid;
    border-style: none none solid none;
}
#fp {
    margin-bottom: 10px;
}


#logo {
    width: 50px;
}
.pro-info {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#check {
    height: 80px;
}
.history-collect-space {
    height: 80px;
    width: 100%;
    background-color: var(--color-secondary);
}

.gallery {
    margin-top: 48px;
}

.collect-title {
    background-color: var(--color-primary);
}

@media only screen and (max-width: 999px) {
    .blog {
        grid-template-columns: 1fr;
    }


    .btn-blg-left,.blog-btn-right {
        padding: 5px;
          margin-left: 5px; 
          font-size: 15px;
        }
    .pro-info {
        padding-left: 20px;
    }
    .reminder-tag, .tree-tag, .group-tag {
        size:w3-small;
    }

    .profile-sections {
        flex-direction: column;
    }

}
@media only screen and (min-width: 1000px) {
    .blog {
        grid-template-columns: 1fr 1fr;
    }

    .row1, .row1A {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40% 60%;
        /* height: 860px; */
        height: auto;
        justify-content: center;
    }
    .center h5{
        font-size: 30px;
    }

    /* .row1A {
        height: 490px;
        overflow: auto;
    } */

    .row1-col1, .part1 {
        grid-column: 1 /span 1;
        grid-row: 1 / span 1;
        height: auto;
        background-color: #a6b6b1;
        position: relative;
    }
    
    .part1, .row1-page1-part2 {
        grid-row: 1 / span 1;
    }

    .row1-col2, .row1-page1-part2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        /* background-color: rgb(224, 224, 224);  */
        padding-left: 20px;
        color: black;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
   
    .pro-info {
        padding-left: 20px;
    }
    #pro-bio {
        overflow: auto;
    }
/* 
    .circle, .circle2 {
        height: 360px;
        width: 360px;
    } */
}

@media only screen and (min-width: 1360px) {
    .col-25 {
        padding-top: 15px;
        padding-right: 6px;
        width:25%;
    }

    .col-75 {
        width:75%;
    }

    .circle {
        height: 56%;
        width: 426px;
    }
}
