<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed community-garden-name" type="button" data-bs-toggle="collapse"
                aria-expanded="false"></button>
            <!--Community garden name goes here-->
            </button>
        </h2>
        <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table>
                    <tr>
                        <td>Year Created</td>
                        <td class="year-created">N/A</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="address">N/A</td>
                    </tr>
                    <tr>
                        <td>Managing Organization</td>
                        <td class="managing-org">N/A</td>
                    </tr>
                    <tr>
                        <td>Plots</td>
                        <td class="plots">N/A</td>
                    </tr>
                    <tr>
                        <td>Jurisdiction</td>
                        <td class="juris">N/A</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td class="email">N/A</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a class="website">N/A</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>