<div class="card mb-3 group-body">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="" src="/image/leaves2.jpeg" alt="group-image"><br><br>
    </div>
      <div class="col-md-8">
        <div class="card-body group-info">
          <h5 class="card-title group-title">
              <!--Group title goes here-->
          </h5>
          <p class="card-text group-description">
              <!--Group description goes here-->
          </p>
        </div>
        <a href="#" class="join-button btn" type="button">Join</a>
      </div>
    </div>
  </div>