<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4 p-2">
            <img class="plant-image img-fluid" src="https://dummyimage.com/1024" alt="Plant Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="plant-name card-title display-2"></h5>
                <div class="my-2"></div>
                <h6 class="plant-scientific card-title display-6"></h5>
                <div class="my-2"></div>
                <p class="plant-description card-text text-muted"></p>
                <div class="my-4"></div>
                <p class="plant-snippet card-text"></p>
                <div class="my-1"></div>
                <p class="plant-disclaimer card-text text-muted"><a class="plant-link card-text" href="#">Read More</a> - Information provided by Wikipedia</p>
                <div class="my-1"></div>
            </div>
        </div>
        <div class="plant-taxonomy card-body m-2 rounded d-flex">
            <ul class="list-group text-dark mx-2 text-center">
                <li class="plant-taxonomy-header list-group-item fw-bold">Phyllum</li>
                <li class="plant-taxonomy-header list-group-item fw-bold">Class</li>
                <li class="plant-taxonomy-header list-group-item fw-bold">Order</li>
                <li class="plant-taxonomy-header list-group-item fw-bold">Family</li>
                <li class="plant-taxonomy-header list-group-item fw-bold">Genus</li>
                <li class="plant-taxonomy-header list-group-item fw-bold">Species</li>
            </ul>
            <ul class="list-group flex-grow-1 mx-2 text-center">
                <li class="plant-taxonomy-phyllum list-group-item"></li>
                <li class="plant-taxonomy-class list-group-item"></li>
                <li class="plant-taxonomy-order list-group-item"></li>
                <li class="plant-taxonomy-family list-group-item"></li>
                <li class="plant-taxonomy-genus list-group-item"></li>
                <li class="plant-taxonomy-species list-group-item"></li>
            </ul>
        </div>
        <div class="col">
            <div class="display-7 p-3 text-muted">
                <p>Data provided by <a href="https://explorer.natureserve.org">NatureServe</a></p>
            </div>
        </div>
        <div class="plant-gallery card-footer">
        </div>
    </div>
</div>