<div class="cardA">
    <div class="blog">
        <div class="blog-text d-flex flex-column">  
            <h5 class="blog-title" style="padding-top: 15px;"></h5>
            <hr style="border: 1px solid;">
            <p class="blog-content"></p>
            <div class="date"></div>
            <hr style="border: 1px solid;">
            <div class="mt-auto d-flex flex-row justify-content-between mb-3">
                <button class="btn btn-lg buttons-left" style="margin-left: 15px;  background-color: #4d7e65">Remove</button>
                <button class="btn btn-lg buttons-right" style="margin-right: 15px; background-color:  #4d7e65">Edit</button>
            </div>

        </div>   
        <img src="/image/flower1.jpg" alt="Blog Image" class="blog-img">
    </div>
</div>