<!-- <div class="card m-5">
    <div class="card-header post-topic"></div>
    <div class="card-body">
        <p class="post-content"></p>
        <div class="mt-4"></div>
        <footer class="blockquote-footer post-user"></footer>
    </div>
</div> -->
<div class="col-md-6 mt-3">
     <!-- image-size -->
    <div class="card h-100">
      <div class="card-body">
        <div class="h-100">
          <img class="card-image-gallery img-fluid">
        </div>
        
      </div>
    </div>
  </div>