<div class="card m-3">
    <h5 class="collect-title" style="color: black; text-align: center">Sample Title</h5> 
    <img src="/image/flower1.jpg" alt="" class="blog-img" style="padding-top: 0px; margin-top:0px;">
    <div class="card-body"  style="color:black">
      <p class="card-text"><span></span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="buttons-right blog-btn-right col-2" style=" float: right; ">Go</button>
    </div>
</div>