<div class="card" style="width: 90%; margin: 2em;">
    <h5 class="collect-title" style="margin-top: 8px; padding-bottom: 0px; color: black; text-align: center">Sample Title</h5> 
    
    <div class="card-body"  style="color:black">
      <div style="color:rgb(95, 95, 95)">
        -<span class="user-name">Sample</span><span>: forum post -</span></div>
       <a href="" class="link">click</a>
      <p class="card-text"><span></span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
