<!-- <div class= "card" style="width: 90%; margin-left: auto; margin-right: auto; margin-bottom: 2rem;"> 
    <div class = "card-body" >
        <h5 class="card-title" style="padding-top: 5px;">Card title</h5> 
        <hr style="border: 1px solid;">
        <p class="card-text">the bulk of the card's content.</p>
        <p class="date" style="float: right;">time</p>
    </div>
  </div> -->
<div class="cardA">
    <div class="blog">
        <div class="blog-text">
        <h5 class="blog-title" style="padding-top: 15px;">Sample blog</h5> 
        <hr style="border: 1px solid;">
            <p class="blog-content">the bulk of the card's content.
            </p>
            <div class="date" style="float: right;">time</div>
            <hr style="border: 1px solid;">
        
            <button class="buttons-left" style="float: left; margin-left: 15px;  background-color: #4d7e65">Remove</button>
            <button class="buttons-right" style="float: right; margin-right: 15px; background-color:  #4d7e65 ">Edit</button>
        </div>
        <img src="/image/flower1.jpg" alt="" class="blog-img">
                       
                    </div>
</div>