<div class="card m-3">
    <h5 class="collect-title" style="color: black; text-align: center">Forum Replies</h5> 
    <div class="go_image"></div>
    <!-- <img src="#" alt="" class="blog-img" style="padding-top: 0px; margin-top:0px;"> -->
    <div class="card-body"  style="color:black">
      <p class="card-text"><span></span>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn reply" style=" float: right; ">Go</button>
    </div>
</div>