<div class="time-container flex-grow-1 d-flex align-items-center py-2">
    <i class="time-info fas fa-question-circle fa-2x p-2" 
        data-bs-container="body" 
        data-bs-toggle="popover" 
        data-bs-placement="right"
        title="Time Slider"
        data-bs-content="Use this slider to see information about future plant growth">
    </i>
    <div class="flex-grow-1 mx-2">
        <input class="time-slider" type="range" min="0" max="100" value="0">
        <div class="d-flex justify-content-between">
            <div>+0y</div>
            <div>+25y</div>
            <div>+50y</div>
            <div>+75y</div>
            <div>+100y</div>
        </div>
    </div>
</div>