<div class="accordion-item w-100">
    <h2 class="accordion-header">
        <button class="accordion-button setting-name collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-controls="collapseOne">
        </button>
    </h2>
    <div class="accordion-collapse collapse setting-body">
        <div class="accordion-body">
            <div class="d-flex align-items-center justify-content-between py-2">
                <h6>Age Of Maturity:</h6>
                <input class="selected-plant-quantity setting-maturity" type="number" name="Quantity">
            </div>
            <div class="d-flex align-items-center justify-content-between py-2">
                <h6>Max Height:</h6>
                <div>
                    <input class="selected-plant-quantity setting-max-height" type="number" name="Quantity">
                    <span class="text-muted">m</span>
                </div>
            </div>
        </div>
    </div>
</div>